body {
    margin: 0px;
  }

header {
  background-color: #579C87;
  color: #fdcb46;
  text-align: center;
  letter-spacing: -3px;
  line-height: 100px;
  font-family: "Montserrat", sans-serif; 
  font-size: 1.6em;

}
header h1 {
    margin-top: 0px;
       
  }


.conteneur{
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu{
    width: 45%;
    margin: 10px;
    box-shadow: 0px 0px 5px grey;
}
  
.grid {
  display: grid;
  grid-template-columns: 1fr  4fr 1fr 4fr  1fr;
  grid-template-rows: 3% 39% 3% 39% 3% 10% 3%;
  margin: 0rem 3rem 0rem 3rem;
  height: 100%;
  grid-template-areas:  "a a a a a"
                        "a note a a a"   
  "a a a a a"
  "a a a a a" 
  "a a a a a"
  "a a a a a"
  "a a a a a"
}

.note {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
   display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 6px 6px #e7e2e2;
  -webkit-box-shadow: 0px 0px 6px 6px #e7e2e2;
  -moz-box-shadow: 0px 0px 6px 6px #e7e2e2;
  background-color: #FCDFDB;
  text-align: center;
  grid-area: note;
  z-index: 2;

/*elements pied de page */  
footer {
    background-color: #579C87;
    line-height: 50px;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    
   
    
  }

.footer__left{
    padding-left: 20px;
    text-decoration: none;
    color: #fdcb46;
  }

.footer__right{
    padding-right: 20px;
    text-decoration: none;
    color: #fdcb46;
  }
  
/*----animation----*/
  .zoom {
    cursor: pointer;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms; }
    .zoom:hover {
      transform: scale(1.05); }
  
  .tremble {
    cursor: pointer;
    transform: translatey(0px);
    transition-property: transform;
    transition-duration: 400ms; }
    .tremble:hover {
      transform: translatey(10px); }
  
  .zoom2 {
    cursor: pointer;
    transform: scale(1);
    transition: transform 400ms; }
    .zoom2:hover {
      transform: scale(1.05); }
  
