  
}
body {
   background: #fbfbfb;
   margin: 0;
 
   }

header {
  grid-column-start: 1; 
  grid-column-end:span 6;
  grid-row-start:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #579C87;
  color: #fdcb46;
  text-align: center;
  letter-spacing: -0.2rem;
  line-height: 100px;
  font-family: "Montserrat", sans-serif; 
  font-size: 1.6em;
 width: auto;
 }



/*elements pied de page */  
footer {
    background-color: #579C87;
    line-height: 50px;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    
  }

.footer__left{
    padding-left: 20px;
    text-decoration: none;
    color: #fdcb46;
  }

.footer__right{
    padding-right: 20px;
    text-decoration: none;
    color: #fdcb46;
  }

.grid-1 {
  display: grid;
  grid-template-columns:1fr 1fr 2fr 2fr 1fr 1fr;
  grid-gap: 2em 2.6em;
  grid-template-rows: 100px 5fr 5fr 1fr;
  min-height: 95vh;
  margin: -1rem -5rem 0rem -5rem;
  

  }



/* items */





.note{
  grid-column-start: 3; 
  grid-row-start:2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 6px 6px #e7e2e2;
  -webkit-box-shadow: 0px 0px 6px 6px #e7e2e2;
  -moz-box-shadow: 0px 0px 6px 6px #e7e2e2;
  background-color: #FCDFDB;
  text-align: center;
   }
  .notemusic{
  margin:0px;
  width: 15%;
  height: 14%;
  margin-left: auto;
  margin-right: auto;
   }
  .note h3 {
    font-family: "Kalam", cursive;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0rem;
    color: #3c1218;
  }
  .note p {
  font-size: 1.5em; 
  font-family: "Devonshire", cursive;
  color: #3c1218;
  padding: 0 1rem 0 1rem;
}
 .delice{
  grid-column-start: 3; 
  grid-row-start:3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 6px 6px #e7e2e2;
  -webkit-box-shadow: 0px 0px 6px 6px #e7e2e2;
  -moz-box-shadow: 0px 0px 6px 6px #e7e2e2;
  background-color: rgb(236, 236, 236);
  text-align: center;
 
  }

  .delice h3 {
    font-family: "Kalam", cursive;
    font-weight: normal;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0rem;
    color: #4478cf;
  }

.delice p {
    font-size: 1.5em; 
  font-family:  'Dancing Script', cursive;
  background: -webkit-linear-gradient(360deg, #0e0eac, #67aef1);
  -webkit-background-clip: text;
  color: transparent;
  padding: 0 2rem 0 2rem;
}

.chic{
  grid-column-start: 4; 
  grid-row-start:2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 6px 6px #e7e2e2;
  -webkit-box-shadow: 0px 0px 6px 6px #e7e2e2;
  -moz-box-shadow: 0px 0px 6px 6px #e7e2e2;
  background-color: #fff5fe;
  text-align: center;
  }
  
  .chic p {
  font-size: 1.1em;
  font-style: bolt; 
  font-family: 'Croissant One', cursive;
  background: -webkit-linear-gradient(360deg, #d8852e, #905bfd);
  -webkit-background-clip: text;
  color: transparent;
  padding: 0 1rem 0 1rem;
}

.chic h3 {
  font-family: "Source Serif Pro", serif;
  font-weight: normal;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0rem;
  color: #d8852e;
}
.palette{
  grid-column-start: 4; 
  grid-row-start:3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 6px 6px #e7e2e2;
  -webkit-box-shadow: 0px 0px 6px 6px #e7e2e2;
  -moz-box-shadow: 0px 0px 6px 6px #e7e2e2;
  background-color: rgb(236, 236, 236);
  text-align: center;
 
  }

.palette h3 {
   font-family: "Kalam", cursive;
   font-weight: normal;
   font-size: 1.5rem;
   padding: 0.5rem;
   margin: 0rem;
   color: #72bf56;
  }

.palette p {
  font-size: 1.4em; 
  font-family: 'Kaushan Script', cursive;
  background: -webkit-linear-gradient(360deg, #3d9339 , #bfff7e);
  -webkit-background-clip: text;
  color: transparent;
  margin: 0rem;
  padding: 0 1rem 0 1rem;
}




.soon{
  grid-column-start: 3; 
  grid-column-end:span 2;
  grid-row-start:4;
  display: flex;
  margin: 0px auto;
}



.soon p {
display: inline-block;
text-align: center;
padding: 0.5em;
font-family: "Montserrat", sans-serif;
color: #FDCB46;
font-size: 1.5vw;
background-color: #579C87;
border-radius: 10px;
height: 1.1em;
width: 18vw;
margin: 0px auto;
}

/* Animation point sur prochainement */

.points:after {
  content: ' .';
  animation: points 1500ms steps(5, end) infinite;}

@keyframes points {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: #FCCA46;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 #FCCA46,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0#FCCA46,
      .5em 0 0#FCCA46;}}
      

/* Animation point sur les menu */
 .zoom {
  cursor: pointer;
   transform: scale(1);
   transition: transform 400ms;
  }
.zoom:hover {
  transform: scale(1.15);
   }


   /* [1] The container */



.zoom2 {
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.4s ease-in-out 0s;
}


.zoom2:hover img {
  transition-duration: 0.5s;
  transform: scale(1.5);
}


.zoom2:hover p {
  transition-duration: 0.5s;
  transform: scale(1.4);
}

.zoom2:hover h3 {
  transition-duration: 0.5s;
  transform: scale(1.5);
}

@media screen and (max-width: 800px) {

  @viewport {
    width: device-width; /* largeur du viewport */
    
 }

	body {
		width: auto;
		margin: 0;
		padding: 0;
	}


  
  .grid-1 {
   display: grid;
  grid-template-columns:1fr 1fr 4fr 4fr 1fr 1fr;
  grid-gap: 1em 1.6em;
  grid-template-rows: 100px 5fr 5fr 1fr;
  min-height: 90vh;
  min-width: 90vh;
  margin: -1rem -5rem -1rem -5rem;
        
  }
        
.soon{
  grid-column-start: 3; 
  grid-column-end:span 2;
  grid-row-start:4;
  display: flex;
  margin: auto;

}



.soon p {
display: inline-block;
text-align: center;
padding: 0.5em;
font-family: "Montserrat", sans-serif;
color: #FDCB46;
font-size: 2vw;
background-color: #579C87;
border-radius: 10px;
height: 2em;
width: 20vw;
margin: 0px auto;
}


        }