body {
   background: #fbfbfb;
    
}

header {
  grid-column-end:span 6 ; 
  grid-row-start:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #579C87;
  color: #fdcb46;
  text-align: center;
  letter-spacing: -0.2rem;
  line-height: 100px;
  font-family: "Montserrat", sans-serif; 
  font-size: 1.6em;
 width: auto;
 
}



/*elements pied de page */  
footer {
    background-color: #579C87;
    line-height: 50px;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
  }

.footer__left{
    padding-left: 20px;
    text-decoration: none;
    color: #fdcb46;
  }

.footer__right{
    padding-right: 20px;
    text-decoration: none;
    color: #fdcb46;
  }

.grid-1 {
  display: grid;
  grid-template-columns: 1fr  1fr 1fr 1fr 1fr 1fr ;
  grid-gap: 3em;
  grid-template-rows: 100px 3fr 3fr 2fr 50px;
  min-height: 100vh;
  }



/* items */


.head{
  grid-column-end:span 6 ; 
  grid-row-start:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #579C87;
  color: #fdcb46;
  text-align: center;
  letter-spacing: -0.2rem;
  font-family: "Montserrat", sans-serif; 
  font-size: 1.6em;
  margin: 0em;
}


.note{
  grid-column-start: 3; 
  grid-row-start:2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 6px 6px #e7e2e2;
  -webkit-box-shadow: 0px 0px 6px 6px #e7e2e2;
  -moz-box-shadow: 0px 0px 6px 6px #e7e2e2;
  background-color: #FCDFDB;
  text-align: center;
  font-size: 1.6em;
  }


 
 .delice{
  grid-column-start: 3; 
  grid-row-start:3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 6px 6px #e7e2e2;
  -webkit-box-shadow: 0px 0px 6px 6px #e7e2e2;
  -moz-box-shadow: 0px 0px 6px 6px #e7e2e2;
  background-color: rgb(236, 236, 236);
  text-align: center;
 
  }

  .delice h3 {
    font-family: "Kalam", cursive;
    font-weight: normal;
    font-size: 2rem;
    padding: 0.5rem;
    margin: 0rem;
    color: #4478cf;
  }
.delice p {
  background: -webkit-linear-gradient(360deg, #1449e5, #0887fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em; 
  font-family: 'Alex Brush', cursive;
}

.soon{
  grid-column-start: 3; 
  grid-column-end:span 2;
  grid-row-start:4;
  display: flex;
  margin: auto;

  
  
}



.soon p {
display: inline-block;
text-align: left;
padding: 0.5em;
color: #FDCB46;
font-size: 2vw;
background-color: #579C87;
border-radius: 10px;
height: 1em;
width: 15vw;
}
/* Animation loading sur prochainement */

.points:after {
  content: ' .';
  animation: points 1500ms steps(5, end) infinite;}

@keyframes points {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: #FCCA46;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 #FCCA46,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0#FCCA46,
      .5em 0 0#FCCA46;}}
