body {
    margin: 0px;
  }



header {
  background-color: #579C87;
  color: #fdcb46;
  text-align: center;
  letter-spacing: -5px;
  line-height: 100px;
  font-family: "Montserrat", sans-serif; 
  font-size: 1.6em;

}
header h1 {
    margin-top: 0px;
   
  }

  a, a:hover, a:visited, a:active
  {
    color:#fdcb46;
    text-decoration:none;
  }

.conteneur{
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu{
    width: 45%;
    margin: 10px;
    box-shadow: 0px 0px 5px grey;
}
  


/*elements pied de page */  
footer {
    background-color: #579C87;
    line-height: 50px;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    
   
    
  }

.footer__left{
    padding-left: 20px;
    text-decoration: none;
    color: #fdcb46;
  }

.footer__right{
    padding-right: 20px;
    text-decoration: none;
    color: #fdcb46;
  }


